################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/App2Go
/App2GoApi/bin/Debug/netcoreapp2.2
/App2GoApi/obj
